.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin: 0;
  position: relative;
  overflow: hidden;
  user-select: none;
  text-decoration: none !important;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #f00;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #f00;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:hover:before {
    transform: scaleX(1);
  }
}
/*
@media (max-width: 768px) {
    .list {
        flex-direction: column;
        align-items: flex-start;
    }
    .item {
        margin: 0.5rem 0;
    }
    .clickable {
        flex-direction: column;
        align-items: flex-start;
    }
    .clickable>.item>a {
        padding: 0.5rem 0;
    }
}
*/
