$tier-item-count: 12;
$tier-item-size: 5vh;
$tier-item-margin: 1vh;

$tier-item-positions: ();

@for $i from 1 through $tier-item-count {
  $x: random(100) * 1%;
  $y: random(100) * 1%;
  $tier-item-positions: append($tier-item-positions, $x $y, comma);
}

.tierlistContainer {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  padding: 1rem;
}

.tierList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #402a23;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tierListName {
  width: 50%;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  background: none;
  border:none;
  outline: none;
  display: block;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 750px) {
      width: 100%;
  }
  @media (max-width: 500px) {
    font-size: 1.5rem;
  }

}

.addTier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    button {
      padding: 0.7rem;
      font-size: 1.5rem;
      font-weight: 500;
      background: #e1e1e1;
      border: none;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      width: 100%;
      margin-top: 1rem;

      &:hover {
        background: #ccc;
      }

    }

  @media (max-width: 300px) {
    flex-direction: column;
    height: 8vh;
  }
}

.tier {
  display:flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 15vh;
  border: 1px solid black;
  background: #2b1b17;

  @media (max-width: 750px) {
    flex-direction: column;
    height: 30vh;
  }

  @media (max-height: 900px) {
    height: 35vh;
  }

  .tierHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding:0;
    margin:0;
    width: 20%;
    height: 15vh;

    $min-width: 20%;
    $step: 15%;

    @media (max-width: 1300px) {
      width: $min-width;
    }

    @for $i from 1 through 5 {
      $min-width: $min-width + $step;

      @media (max-width: #{1100px - $i * 100px}) {
        width: $min-width;
      }
    }

    @media (max-width: 750px) {
      width: 100%;
    }

    @media (max-height: 900px) and (max-width: 750px) {
      height: 35vh;
    }


    .deleteTier {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 100%;
      border-right: 1px solid black;
      cursor: pointer;
      transition: 0.2s;

      $min-width: 30%;
      $step: 5%;
      $breakpoints: (
              200px: 50%,
              300px: 40%,
              400px: 35%,
              1300px: 30%,
      );

      @for $i from 1 through 4 {
        $min-width: $min-width + $step;
        $breakpoint: 1200px - $i * 100px;
        $breakpoints: map-merge($breakpoints, ($breakpoint: $min-width));
      }

      @media (max-width: 199px) {
        width: 50%;
      }

      @media (min-width: 200px) {
        @each $breakpoint, $width in $breakpoints {
          @media (min-width: $breakpoint) and (max-width: #{($breakpoint + 99px)}) {
            width: $width;
          }
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      &:active {
        background: rgba(255, 255, 255, 0.5);
      }

      &>svg {
        width: 30%;
        height: 30%;
        fill: #fff;

        @media (min-width: 1000px) {
          width: 50%;
          height: 50%;
        }
      }
    }
    .tierName {
      background: #e1e1e1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      font-size: 1.5rem;
      height: 100%;


      & > input {
        width: 100%;
        line-height: 1.5;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        background: transparent;
      }

      & > button {
        width: 70%;
        height: 5vh;
        border: none;
        outline: none;
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
      }

      & > .colorPicker {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 5vh;

        & > .color {
          width: 100%;
          height: 2.5rem;
          background: #e1e1e1;
          border: none;
          cursor: pointer;
          outline: none;
        }
      }
    }

  }

  .tierItems {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    max-width: 100%;
    width: 100%;
    height: 15vh;
    min-height: 15vh;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;


    .items {
      border-left: 1px solid black;
      border-right: 1px solid black;
      height: 100%;
      min-width: 100px;
      width: calc(100% / 12);

      @media (max-width: 1300px) {
        width: calc(100% / 10);
      }

      @media (max-width: 1100px) {
          width: calc(100% / 8);
      }



      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      font-size: 1.5rem;
      background: white no-repeat center;
      background-size: cover;

      $color: attr(vibrantColor);

      &>button {
        width: 100%;
        height: 3vh;
        border: none;
        outline: none;
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);


        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 10px;
  }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



  .hovered {
    background: #e1e1e1;
  }
}




.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px dashed #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1vh;
  transition: 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
  }

  &>input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    padding: 1vw;
  }

  &>p {
    position: absolute;
    font-size: 1rem;
    font-weight: 400;
    z-index: 1;
    pointer-events: none;
    border: 2px solid red;
    text-align: center;
    max-width: 35vw;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
}

.addButton {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: #0000cc;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  width: 20vw;
  margin-top: 1rem;
  float: right;
  color: #FFFFFF;
    transition: 0.2s;

  &:hover {
    background: #0000aa;
  }

  &:disabled {
    background: #000099;
    cursor: not-allowed;
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}

